  <h1 style="text-align:center">Add Product</h1>

  <div class="card p-5">

      <form class="form-validation" style="display: flex;flex-direction: column;align-items: center;" action="/admin/add-product" enctype="multipart/form-data" method="post">
          <div class="form-group row" style="min-width: 600px;">
              <label for="inputEmail3" class="col-md-4 form-control-label">Product Title<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="productTitle" placeholder="Product Title"
                      name="productTitle">
              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass1" class="col-md-4 form-control-label">Product Description<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
  <textarea class="form-control" rows="5" id="example-textarea" name="productDescription" placeholder="Product Description"></textarea>

              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Brand Name
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select name="brand" class="form-control select2">
                          <option>Select</option>
                                                <option value="Adidas">Adidas</option>
                                                <option value="Nike">Nike</option>
                                                <option value="Puma">Puma</option>
                                                <option value="GUCCI">GUCCI</option>
                                                <option value="MERREL">MERREL</option>
                                            </select>
                                           
              </div>
          </div>

             <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select name="category" class="form-control select2">
                          <option value="">Select</option>
                                                <option value="Men">Men</option>
                                                <option value="Women">Women</option>
                                                <option value="Kids">Kids</option>
                                                
                                            </select>
                                           
              </div>
          </div>

             <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Sub-Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select name="subCategory" class="form-control select2">
                          <option value="">Select</option>
                                                <option value="Formal">Formal</option>
                                                <option value="Casual">Casual</option>
                                                <option value="Sports">Sports</option>
                                            </select>
                                           
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Colour<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text"class="form-control" id="colour" placeholder="Colour" name="colour">
              </div>
          </div>

                 <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Meterial<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="meterial" placeholder="Meterial" name="material">
              </div>
          </div>




                    <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Size
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select class="form-control select2" name="size[]" multiple="multiple">
                          
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                           
              </div>
          </div>



          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Quantity<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="webSite" placeholder="Quantity" name="quantity">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Price<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text"class="form-control" id="webSite" placeholder="Price" name="price">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Images<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                <input type="file" name="image[]" placeholder="select image" class="image" id="upload_image"  />
            </div>
        </div>

        
        <div class="form-group row new_preview"></div>

              {{!---------------------------------------------- Modal Start -------------------------------------------}}

                       <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			  	<div class="modal-dialog modal-lg" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<h5 class="modal-title">Crop Image Before Upload</h5>
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          			<span aria-hidden="true">×</span>
			        		</button>
			      		</div>
			      		<div class="modal-body">
			        		<div class="img-container">
			            		<div class="row d-flex justify-content-center">
			                		<div class="col-md-11 p-0">
			                    		<img src="" id="sample_image" />
			                		</div>
			                		<div class="col-md-4">
			                    		<div class="preview" style="width: 50px; height: 60px;"></div>
			                		</div>
			            		</div>
			        		</div>
			      		</div>
			      		<div class="modal-footer">
			      			<button type="button" id="crop" class="btn btn-primary">Crop</button>
			        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      		</div>
			    	</div>
			  	</div>
			</div>

          <div class="form-group row justify-content-end" style="min-width: 600px;">
              <div class="col-md-8">
                  
                  <button  type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                      Submit
                  </button>
                  <button type="reset" class="btn btn-danger waves-effect">
                      Cancel
                  </button>
              </div>
          </div>
      </form>

  </div>


 