  <h1 style="text-align:center">Add Product</h1>

  <div class="card p-5">

      <form class="form-validation" style="display: flex;flex-direction: column;align-items: center;">
          <div class="form-group row" style="min-width: 600px;">
              <label for="inputEmail3" class="col-md-4 form-control-label">Product Title<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="productTitle" placeholder="Product Title"
                      name="productTitle">
              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass1" class="col-md-4 form-control-label">Product Description<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
  <textarea class="form-control" rows="5" id="example-textarea" name="productDescription" placeholder="Product Description"></textarea>

              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Brand Name
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select class="form-control select2">
                          <option>Select</option>
                                                <option>Adidas</option>
                                                <option>Nike</option>
                                                <option>Puma</option>
                                                <option>GUCCI</option>
                                                <option>MERREL</option>
                                            </select>
                                           
              </div>
          </div>

             <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select class="form-control select2">
                          <option value="">Select</option>
                                                <option>Men</option>
                                                <option>Women</option>
                                                <option>Kids</option>
                                                
                                            </select>
                                           
              </div>
          </div>

             <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Sub-Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select class="form-control select2">
                          <option value="">Select</option>
                                                <option>Formal</option>
                                                <option>Casual</option>
                                                <option>Sports</option>
                                            </select>
                                           
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Colour<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text"class="form-control" id="colour" placeholder="Colour">
              </div>
          </div>

                 <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Meterial<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="meterial" placeholder="Meterial">
              </div>
          </div>




                    <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Size
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                      <select class="form-control select2" name="size[]" multiple="multiple">
                          
                                                <option>Formal</option>
                                                <option>Casual</option>
                                                <option>Sports</option>
                                            </select>
                                           
              </div>
          </div>



          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Quantity<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="webSite" placeholder="Quantity">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Price<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text"class="form-control" id="webSite" placeholder="Price">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Images<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                 <input type="file" class="filestyle" data-btnClass="btn-primary">
              </div>
          </div>

          <div class="form-group row justify-content-end" style="min-width: 600px;">
              <div class="col-md-8">
                  <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                      Register
                  </button>
                  <button type="reset" class="btn btn-danger waves-effect">
                      Cancel
                  </button>
              </div>
          </div>
      </form>

  </div>