<h1 style="text-align: center;">Manage Users</h1>


<div class="co1-12 mt-3">

  <input class="form-control w-25 float-right" id="myInput" type="text" placeholder="Search..">  <br>

  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>Customer Name</th>
         <th>Username</th>
        <th>Email ID</th>
        <th>Phone No</th>
        <th>Action</th>
      
        
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Nikhil Dev</td>
        <td>nikhil345</td>
        <td>nikhil@gmail.com</td>
        <td>98576434</td>
        <td>block/ Unblock</td>
         </tr>
     
    </tbody>
  </table>
  

</div>