<h1 style="text-align: center;">Manage Products</h1>


<div class="co1-12 mt-3">

  <input class="form-control w-25 float-right" id="myInput" type="text" placeholder="Search..">  <br>

  <table class="table table-bordered mt-5 tb_datatable">
    <thead>
      <tr>
        <th>Product</th>
        <th>Product ID</th>
        <th>MRP</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Brand</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>image, Product name</td>
        <td>100001</td>
        <td>12999</td>
        <td>5000</td>
        <td>Men</td>
        <td>Formal</td>
        <td>Adidas</td>
        <td>Edit, Delete</td>
         </tr>
     
    </tbody>
  </table>
  

</div>