<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- Mirrored from www.annimexweb.com/items/avone/index-demo2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 13:07:35 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home Demo2 - Avone Multipurpose eCommerce Bootstrap 4 Html Template</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>




{{#if isUser }}

    {{#if isUserIndex }}
{{>user-index-header}}
{{else }}
{{>user-header}}
{{/if}}















    

    
    {{{ body }}}

        {{#if isUserIndex }}
{{>user-index-footer}}
{{else }}
{{>user-footer}}
{{/if}}

     <!-- Including Jquery -->
     <script src="assets/js/vendor/jquery-min.js"></script>
     <script src="assets/js/vendor/js.cookie.js"></script>
     <!-- Including Javascript -->
     <script src="assets/js/pluginsd41d.js?"></script>
     <script src="assets/js/maind41d.js?"></script>
     
</div>
</body>
{{/if }}

<!-- Mirrored from www.annimexweb.com/items/avone/index-demo2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 13:12:00 GMT -->
</html>
