<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 style="text-align: center;">OTP Verification</h1>
                {{#if otperr}}
                <div class="alert alert-danger">
                    {{otperr}}

                </div>
                {{/if}}
                <div class="card">
                    <div class="card-body">

                        <form action="/signup/otp" class="p-2" method="post">
                            <div class="form-group">
                                <label for="">OTP Code</label>
                                <input class="form-control" type="text" name="code" placeholder="Enter OTP Code">
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-dark btn-block" type="submit"> Verify </button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>