/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
  
  #canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
  }